body{
    background-color: #FFF8DC;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    }

.hyperlinks{
    text-align: right;
}

#container {
    display: flex;
    align-items: right
}

.logo{
    width: 100px;
}

.logo_img{
        padding-bottom: 0px;
}

.name{
    padding-top: 0px;
}